.about-wrapper{
    font-family: "Rokkitt", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    overflow: hidden;
    .picture{
        width: 250px;
        height: 250px;
    }
    
    .description{
        padding-left: 80px;
        width: 600px;
        h2{
            font-size: 36px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 20px
        }
        p{
            margin-bottom: 20px;
            font-size: 20px;
        }

        .buttons{
            button{
                margin-right: 27px;
                margin-top: 10px;
            }
        }
    }
}