.student{
display: flex;
.catalog_user, .profile_user {
    padding-top: 100px;
    padding-left: 100px;
    font-family: "Rokkitt", serif;
    .card_img{
        width: 200px;
        height: 200px;
        margin: auto;
        margin-top: 10px;
    }
    }
}
    