.librarian{
    display: flex;
    .book_lib, .students_lib {
        padding-top: 100px;
        padding-left: 100px;
        font-family: "Rokkitt", serif;
        .card_img{
            width: 200px;
            height: 200px;
            margin: auto;
            margin-top: 10px;
        }
        }
    }
        